       body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #1f77b4;
    color: #fff;
}

/* Create an active/current tablink class */
div.tab button.active {
     background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 6px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}

      .d3-tip {
      line-height: 1;
      padding: 12px;
      color: #000;
      border-radius: 2px;
      font-size: 13px;
      margin-top: 0px;
            }

      .bar rect {
      fill: steelblue;
      shape-rendering: crispEdges;
      }
      .bar rect:hover{
      fill: rgba(0,0,0,.8);
      }

     
        #tiptable tr{
    /*margin-bottom: 1px;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    /*border-bottom: 1px solid #777;*/
  }
    #tiptable tr td{
    background: #fff;
    /*margin-bottom: 1px;*/
    /*margin-right: 1px;*/
    /*border-right: 1px solid #ccc;*/
  }
  .title{
    text-align: center;
    width: 600px;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
  }
  .titleRight{
      text-align: center;
      width: 600px;
      padding: 0px;
      margin: 0px;
      font-size: 14px;
      font-family: "Times New Roman";
  }
    .d3-tooltip{
    background: #ccc;
    border-radius: 5px;
    padding: 8px;
    border: .6px solid black;
    margin-top: 120px;
  }
  .charts{
    width: 530px;
    float: left;
    margin-right: 20px;
  }
  #column1, #column2, #column3, #column4{
    border: 1px solid #555;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 10px;
  }

  .rightPanel{
      width: 475px;
      float: left;
  }

  .right{
      /*width: 400px;*/
      float: left;
      margin-right: 20px;
  }
  #right1, #right2, #right3, #right4{
      border: 1px solid #555;
      border-radius: 5px;
      background: #fff;
      margin-bottom: 10px;
  }


table { border-collapse: collapse; 
background: #aaa;
}
tr { display: block; float: left; 
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  }
th, td { display: block; 
  text-align: left;
  /*border: 1px solid black; */
  background: #fff; margin-bottom: 1px;
  padding: 5px;

}
th{
  margin-right: 1px;
}
tr,td{
  text-align: right;
}
.disease {
  fill: rgb(198, 226, 255);
}

.other {
  fill: rgb(50,50,50);
}

.wounds {
  fill: rgb(252,112,147);
}
#tiptable{
  float: left;
  margin-right: 10px;
}
#hoverBar{
  float: right;
  background: #fff;
}
#hoverBar svg{
  background: #fff;
}
button{
  margin-bottom: 5px;
  margin-top: 5px;
}
.mouseOverBar{
  background: #fff;
  padding: 10px;
}
select{
  margin-bottom: 5px;
  margin-top: 5px;
}

svg {
  font: 10px sans-serif;

}

#sPlot .axis,
.frame {
  shape-rendering: crispEdges;
}

#sPlot .axis line {
  stroke: #ddd;
}

#sPlot .axis path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}
.scatterSvg{
  background: #fff;
}
.axis path, .axis line {
   fill: none;
   stroke: #000;
  shape-rendering: crispEdges;
 }
 #sPlot{
  background: #fff;
 }
